<html>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<body>

<p>The queryset object:</p>

{{ pacientes }}

<p>Loop through the items:</p>

<table border='1'>
  {% for x in pacientes %}
    <tr>
      <td>{{ x }}</td>
    </tr>
  {% endfor %}
</table>

<h1>Listado de Pacientes</h1>

<ul>
    {% for paciente in pacientes %}
        <li>{{ paciente }}</li>
    {% endfor %}
</ul>

{% comment %} <h2>Alta de paciente</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ formulario.as_p }}
    <button type="submit">Enviar</button>
</form> {% endcomment %}

<div class="container text-center pt-5">
  <div class='jumbotron'>
<form action="" method="post">
  {% csrf_token %}
  {% for field in formulario %}
  <div class='form-group'>
    <label for="{{ field.name }}">{{ field.label }}</label>
    {{ field }}
  </div>
  {% endfor %}
  <br>
  <center><button type="submit" class="btn btn-success btn-lg">Registrar usuario</button></center>
</form>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>     